body{
    background-color: rgb(228, 198, 113);
}
@font-face {
    font-family: letratexto;
    src: url(Rubik-VariableFont_wght.ttf);
}



nav ul{
    float: right;
    display: flex;
    flex-direction: row;
    list-style: none;
}
nav ul li{
    margin-right: 30px;
    font-size: 25px;
    font-weight: bold;
}
nav ul li:hover{
    border-bottom: 1px solid black;
    cursor: pointer;
    transition: .5s ;
}
nav h2{
    padding-bottom: 5px;
    float: left;
    margin-left: 30px;
    font-weight: bold;
}
h1{
    text-align: center;
    font-size: 100px;
    position: absolute;
    left: 15%;
    bottom: 25%;
    width: 70%;
    color: white;
    text-shadow: 5px 5px 5px black;
    font-weight: bold;
}
#p-titulo{
    position: absolute;
    left: 27%;
    bottom: 25%;
    color: white;
    text-shadow: 5px 5px 5px black;
    font-size: 40px;
}
img{
    height: 500px;
    object-fit: cover;
    width: 100%;
    position: relative;
    border-radius: 7px;
}


.general-information{
    display: flex;
    justify-content: center;
}
.div-general{
    width: 60%;
    justify-content: center;
    padding-bottom: 20px;
    background-color: white;
    border: 2px solid black;
}
.div-general  div h2{
    font-family: letratexto;
    margin-left: 40px;
    font-weight: bold;
    font-size: 50px;
    color: rgb(0, 0, 0);

}
DIV ul{
    list-style: none;
    font-size: 23px;
    color: rgb(0, 0, 0);
}
DIV ul li{
    margin-bottom: 10px;
}
.lista-committee{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#lista-infogeneral{
    display: block;
}
#lista-issues{
    display: none;
}


.menu-info{
    margin-top: 100px;
    display: flex;
    justify-content: center;

}
.div-menu{
    width: 60%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgb(0, 0, 0);
    border: 2px solid black;
}
.div-button{
    gap: 50px;
    margin: 20px 20px 20px 30px;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
}

.div-button button{
    font-family: letratexto;
    background-color: rgb(0, 0, 0);
    border:none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;

    padding-bottom: 10px;
    cursor: pointer;
}
.div-button button:hover{
    border-bottom: 2px solid rgb(255, 255, 255);
}

















.div-menu ul li:hover{
    border-bottom: 1px solid black;
    cursor: pointer;
    display: block;
}
.texto{
    display: none;
}